# IDE specific
.idea/
.eclipse

# sbt by Boger
.cache
.cache-main
.cache-tests
.history
.lib/
lib/*.tmp
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/.sbtserver
.sbtserver

# desperate sacrifices to the almighty goddess of random
project/
target/
.settings/
RUNNING_PID
bin/
/db
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache