  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
  
  body {
      padding-top: 100px;
  }
  
  #strasser {
      max-width:100%;
      max-height:100%;
  }
  
  .navbar .nav > li{
      float: none;
      display: inline-block;
  }
  
  div.center iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  #htwg {
      width: 100%;
      height: auto;
  }
  
  /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #FFFFFF;
      height: 100%;
    }
    
    #htwglogo {
        background-color: #FFFFFF;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:100%;
          float:none;
          width:50%;
      }
      
      footer {
          width:50%;
          float:left;
          text-align:left;
      }
    }
  }