@(game: String)
@main("Welcome to Four Winning"){
<html lang="en">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Connect 4</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:9000/">Home</a></li>
        <li><a href="http://localhost:9000/strategie/">Strategie und Taktik</a></li>
        <li class="active"><a href="http://localhost:9000/fourwinning/">Vier gewinnt</a></li>
        <li><a href="http://localhost:9000/contact/">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><img id="htwg" src="@routes.Assets.at("images/htwg-logo.jpg")" class="logo"/></p>
    </div>
    <div class="col-sm-8 text-middle">
      <h1>Das Spiel</h1>
      <p>	<!--@Html(game)-->
       <div class="table-responsive">
            <table id="gamefield" class=table align="center" text-center cellspacing="0" cellpadding="0">
            <div>
                <tr align="center">
                    <td><img id="setchip1" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                    <td><img id="setchip2" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                    <td><img id="setchip3" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                    <td><img id="setchip4" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                    <td><img id="setchip5" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                    <td><img id="setchip6" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                    <td><img id="setchip7" class="img-responsive" src="@routes.Assets.at("images/grey-circle.gif")" class="game"/></td>
                </tr>
                <tr align="center">
                    <td><img id="gamefield1" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                    <td><img id="gamefield2" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                    <td><img id="gamefield3" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                    <td><img id="gamefield4" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                    <td><img id="gamefield5" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                    <td><img id="gamefield6" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                    <td><img id="gamefield7" class="img-responsive" src="@routes.Assets.at("images/column.gif")" class="game"/></td>
                </tr>
            </div>
            </table>
        </div>
      </p>
    </div>
    <div class="col-sm-2 sidenav">
      <a style="display:block" href="http://theater.htwg-konstanz.de/2016/update-strasser-jetzt-noch-besser/">
      <div class="well">
        <p><img id="strasser" src="@routes.Assets.at("images/strasser.jpg")" /></p>
      </div>
      </a>
      <div class="well">
        <p>Hier könnte Ihre Werbung stehen!</p>
      </div>
    </div>
  </div>
</div>
	
}