@(game: String)
@main("Welcome to Four Winning"){
<html lang="en">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Connect 4</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:9000/">Home</a></li>
        <li><a href="http://localhost:9000/strategie/">Strategie und Taktik</a></li>
        <li class="active"><a href="http://localhost:9000/fourwinning/">Vier gewinnt</a></li>
        <li><a href="http://localhost:9000/contact/">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
    var player1;
    window.onload = function enterName() {
        
        swal({   title: "Require Username!",   
        text: "Enter your username:",   
        type: "input",   
        showCancelButton: false,   
        closeOnConfirm: false,   
        animation: "slide-from-top",   
        inputPlaceholder: "Username" }, 
    
        function(inputValue){   
            if (inputValue === false) 
                return false;      
            if (inputValue === "") {     
                swal.showInputError("Please enter username!");     
                return false   
            }      
            swal("Name Saved!", "You entered following username: " + inputValue, "success"); 
            if (inputValue.indexOf(" ") !=-1) {
                swal("Ihre eingabe darf keine Leerzeichen enthalten.");
                enterName();
                return;
            }
            sendPlayerName(inputValue);
        });
    }
        
    
</script>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><img id="htwg" src="@routes.Assets.at("images/htwg-logo.jpg")" class="logo"/></p>
    </div>
    <div class="col-sm-8 text-middle">
      <h1>Das Spiel</h1>
      <p>	<!--@Html(game)-->
         
       <div id="divgame" class="table-responsive">
            
            <table id="gamefield" class=table align="center" text-center cellspacing="0" cellpadding="0">
            
            </table>
        </div>
      </p>
    </div>
    <div class="col-sm-2 sidenav">
      <a style="display:block" href="http://theater.htwg-konstanz.de/2016/update-strasser-jetzt-noch-besser/">
      <div class="well">
        <p><img id="strasser" src="@routes.Assets.at("images/strasser.jpg")" /></p>
      </div>
      </a>
      <div class="well">
        <p>Hier könnte Ihre Werbung stehen!</p>
      </div>
    </div>
  </div>
</div>
}