@(game: String)
@main("Welcome to Four Winning"){
<html lang="en">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Connect 4</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:9000/">Home</a></li>
        <li><a href="http://localhost:9000/strategie/">Strategie und Taktik</a></li>
        <li class="active"><a href="http://localhost:9000/fourwinning/">Vier gewinnt</a></li>
        <li><a href="http://localhost:9000/contact/">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><img id="htwg" src="@routes.Assets.at("images/htwg-logo.jpg")" class="logo"/></p>
    </div>
    <div class="col-sm-8 text-middle">
      <h1>Das Spiel</h1>
      <p>	<!--@Html(game)-->
      <button type="button" id="toggle" align="center" class="btn btn-primary" onclick="buildGame()">Start New Game</button>
       <div id="divgame" class="table-responsive">
            
            <table id="gamefield" class=table align="center" text-center cellspacing="0" cellpadding="0">
            
            </table>
        </div>
      </p>
    </div>
    <div class="col-sm-2 sidenav">
      <a style="display:block" href="http://theater.htwg-konstanz.de/2016/update-strasser-jetzt-noch-besser/">
      <div class="well">
        <p><img id="strasser" src="@routes.Assets.at("images/strasser.jpg")" /></p>
      </div>
      </a>
      <div class="well">
        <p>Hier könnte Ihre Werbung stehen!</p>
      </div>
    </div>
  </div>
</div>


<script language="javascript" type="text/javascript">
    var cols = 7;
    var rows = 7;
    var innerhtml = "";
    var counter = 0;
    for (var i=0; i < rows; i++){
        innerhtml = innerhtml + '<tr align="center">';
        for (var j=0; j < cols; j++){
            counter++;
            var s = String(i) + "," + String(j);
            if (i == 0){
                innerhtml = innerhtml + '<td><img id=' + j + ' class="img-responsive throwChip" src="@routes.Assets.at("images/pfeil.gif")"/></td>'; 
                continue;
            }
            if (counter % 3 == 0){
                innerhtml = innerhtml + '<td><img id=' + s + ' class="img-responsive throwChip" src="@routes.Assets.at("images/leer.gif")"/></td>';
                continue;
            }
            else if (counter % 3 == 1){
                innerhtml = innerhtml + '<td><img id=' + s + ' class="img-responsive throwChip" src="@routes.Assets.at("images/gelb.gif")"/></td>';
                continue;
                
            } 
            else if (counter % 3 == 2){
                innerhtml = innerhtml + '<td><img id=' + s + ' class="img-responsive throwChip" src="@routes.Assets.at("images/rot.gif")"/></td>';
                continue;
            }
        }
        innerhtml = innerhtml + "</tr>";
    }
    document.getElementById("gamefield").innerHTML = innerhtml;


    function buildGame(){
        document.getElementById('toggle').style.visibility = 'hidden';
        var cols = 7;
        var rows = 7;
        var innerhtml = "";
        for (var i=0; i < rows; i++){
            innerhtml = innerhtml + '<tr align="center">';
            for (var j=0; j < cols; j++){
                var s = String(i) + "," + String(j);
                if (i == 0){
                    innerhtml = innerhtml + '<td><img id=' + j + ' class="img-responsive throwChip" src="@routes.Assets.at("images/pfeil.gif")"/></td>'; 
                    continue;
                }
                innerhtml = innerhtml + '<td><img id=' + s + ' class="img-responsive throwChip" src="@routes.Assets.at("images/leer.gif")"/></td>';
                    continue;
            }
            innerhtml = innerhtml + "</tr>";
        }
        document.getElementById("gamefield").innerHTML = innerhtml;
    }
</script>
}