@(message: String, isLoggedIn: Boolean, userInfo: UserInfo)

@main("Welcome to Four Winning") {
<html lang="en">
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Connect 4</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="http://localhost:9000/strategie/">Strategie und Taktik</a></li>
        <li><a href="http://localhost:9000/fourwinning/">Vier gewinnt</a></li>
        <li><a href="http://localhost:9000/contact/">Kontakt</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          @if(isLoggedIn) {
            <li><p class="navbar-text">@userInfo.getEmail()</p></li>
            <li><a href="@routes.Application.logout()">Logout</a></li>
          } else {
            <li><a href="@routes.Application.login()">Login</a></li>
          }
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row content">
    <div id="htwglogo" class="col-sm-2 sidenav">
      <p><img id="htwg" class="img-responsive" src="@routes.Assets.at("images/htwg-logo.jpg")" class="logo"/></p>
    </div>
    <div class="col-sm-8 text-left">
      <h1>Vier Gewinnt</h1>
      <p>Spielen Sie jetzt den absoluten Klassiker unter den Denkern.<br></br> 
      </p>
      <hr>
      <h3>Beschreibung</h3>
      <p>
            Das klassische Brettspiel wird auf einem senkrecht stehenden hohlen Spielbrett gespielt, in das die Spieler abwechselnd ihre Spielsteine fallen lassen. 
            Das Spielbrett besteht Spalten (Senkrecht) und Reihen (Waagrecht). 
            Wenn ein Spieler einen Spielstein in eine Spalte fallen lässt, besetzt dieser den untersten freien Platz der Spalte.
            Gewinner ist der Spieler, der es als erster schafft, vier seiner Spielsteine waagerecht, senkrecht oder diagonal in eine Linie zu bringen. 
            Das Spiel endet unentschieden, wenn das Spielbrett komplett gefüllt ist, ohne dass ein Spieler gewonnen hat.
            <br></br>Quelle: <a href="http://de.wikipedia.org/wiki/Vier_Gewinnt" >Wikipedia</a>
                
      </p>
        <h3>Vorsicht, hoher Frustrationsfaktor!</h3>
        <div class="center">
        <p>
            <iframe src="https://www.youtube.com/embed/Mr-eJ_x_MW0" frameborder="0" allowfullscreen></iframe><br></br>
        </p>
        </div>
    </div>
    <div class="col-sm-2 sidenav">
      <a style="display:block" href="http://theater.htwg-konstanz.de/2016/update-strasser-jetzt-noch-besser/">
      <div class="well">
        <img id="strasser" class="img-responsive" src="@routes.Assets.at("images/strasser.jpg")" />
      </div>
      </a>
      <div class="well">
        <p>Hier könnte Ihre Werbung stehen!</p>
      </div>
    </div>
  </div>
</div>
</html>

}