@(message: String)

@main("Welcome to Four Winning") {

    @message

<!DOCTYPE html>

<html>

<head>

    <title>Vier Gewinnt mit Schafen!</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/util.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/sheep.js"></script>

</head>

<body onload="start()">

<!-- BEGIN: Sticky Header -->
<div id="header_container">

    <div id="header">
        Vier Gewinnt
    </div>

</div>
<!-- END: Sticky Header -->

<!-- BEGIN: Page Content -->
<div id="container">

    <div id="content">
Das Spiel wird auf einem senkrecht stehenden hohlen Spielbrett gespielt, in das die Spieler abwechselnd ihre Spielsteine<br></br> 
fallen lassen. Das Spielbrett besteht aus sieben Spalten (senkrecht) und sechs Reihen (waagerecht). <br></br>
Jeder Spieler besitzt 21 gleichfarbige Spielsteine. Wenn ein Spieler einen Spielstein in eine Spalte fallen lässt, <br></br>
besetzt dieser den untersten freien Platz der Spalte. Gewinner ist der Spieler, der es als erster schafft, <br></br>
vier oder mehr seiner Spielsteine waagerecht, senkrecht oder diagonal in eine Linie zu bringen. <br></br>
Das Spiel endet unentschieden, wenn das Spielbrett komplett gefüllt ist, ohne dass ein Spieler eine Viererlinie gebildet hat.
    </div>

</div>
<!-- END: Page Content -->

<!-- BEGIN: Sticky Footer -->
<div id="footer_container">

    <div id="footer">

        <a href="http://localhost:9000/fourwinning/"> Link zum Spiel</a>

    </div>

</div>

<!-- END: Sticky Footer -->

</body>

</html>
}