<!DOCTYPE html>

<html>

<head>

    <title>Sticky Header and Footer</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" charset="utf-8" src="js/sheep.js"></script>

</head>

<body onload="start()">

<!-- BEGIN: Sticky Header -->
<div id="header_container">

    <div id="header">
        Vier Gewinnt
    </div>

</div>
<!-- END: Sticky Header -->

<!-- BEGIN: Page Content -->
<div id="container">

    <div id="content">

            content
        <br /><br />
            blah blah blah..
        ...
        <!--img src="images/sheep.jpg" id="sheep"-->
        <a href="https://openclipart.org/detail/1744/sheep"><img src="https://openclipart.org/download/1744/TheStructorr-sheep.svg" id="sheep"/></a>
    </div>

</div>
<!-- END: Page Content -->

<!-- BEGIN: Sticky Footer -->
<div id="footer_container">

    <div id="footer">

        <a href="http://google.de"> Link zum Spiel</a>

    </div>

</div>

<!-- END: Sticky Footer -->

</body>

</html>